/**********************
global css file
*******************/
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6,a,span,input,p{
	font-family: 'Poppins', sans-serif;
}
/*google font
font-family: 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/********************
header css file
********************/
header{
	width: 100%;
    background: rgba(0,0,0,0.6);
}
.navbar-expand-lg .navbar-nav {
	margin-top: 9px;
}
.navbar {
    padding-top: 0;
    z-index: 9999;
}
.nav-item{
	padding: 0 20px;
}
.navbar-light .navbar-brand{
	visibility: hidden;
}
.nav-link{
    padding: 1.9rem -1rem;
    color: black !important;
    position: relative;   
    color: #fff !important; 
}
.nav-link:hover{
	color: #ffb233 !important;
}
.nav-link:before{
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 0%;
    background: #ffb233;
    transition: 0.5s ease-in-out;
}
.nav-link:hover:before{
	width: 100%;
	background: #ffb233 !important;
	transition: 0.5s ease-in-out;
}
/***********************
banner css file
***********************/
.banner{
	position: relative;
	width: 100%;
    background-image: url('../image/bannerBg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: -58px;
}
.shadow{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
}
.section-content{
	display: table-cell;
    height: 100vh;
    vertical-align: middle;
    text-align: center;
    padding-left: 386px;
}
.banner .title{
	margin: 0;
    color: white;
    font-size: 50px;
    padding: 186px 0 60px 0;
}
.banner h3{
	margin: 0;
    color: #f3f2f2;
    font-size: 30px;
}
.banner a i{
	height: 30px;
    width: 30px;
    background: #ffb233;
    line-height: 30px;
    border-radius: 100%;
    margin-top: 106px;
    color: #fffaf1;
}
/****************
about css file
****************/
.about{
	width: 100%;
    padding: 120px 0;
    text-align: center;
}
.about h1{
	margin: 0;
    padding-bottom: 40px;
}
.about .p1{
	margin: 0;
    padding: 20px 0;
    color: #818181;
}
.about .p2{
	margin: 0;
    color: #3f3f3f;
    padding: 20px 0;
    width: 88%;
    font-size: 14px;
    padding-left: 138px;
}
.about ul{
	margin: 0;
}
.about ul li{
	list-style: none;
    display: inline-block;
    padding: 20px;
}
.about ul li a i{
	height: 30px;
    width: 30px;
    background: gray;
    line-height: 30px;
    border-radius: 100%;
    color: white;
}
.about ul li a i:hover{
	background: #ffb233;
}
.btn-danger{
	background: transparent;
    border: 2px solid #51a351;
    color: #51a351;
}
.about .btn {
    padding: .375rem 1rem;
    margin-left: 32px;
    margin-top: 20px;
}
/*******************
suggest css file
******************/
.suggest{
	position: relative;
	width: 100%;
	padding: 288px 0;
	background-image: url('../image/suggestBg.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.overlay1{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}
.suggest h3{
	margin: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 160px;
    color: white;
}
.img-part ul{
	margin: 0;
    padding-left: 0;
}
.img-part ul li{
	display: inline-block;
    padding: 130px 60px 40px 60px;
}
.img-part ul li a i{
	height: 68px;
    width: 68px;
    background: #FFB233;
    text-align: center;
    line-height: 68px;
    border-radius: 100%;
    color: white;
    transition: 0.5s ease-in-out;
}
.img-part ul li a i:hover{
	background: gray;
    transform: scale(1.2);
    transform: rotate3d(1, 1, 1, 360deg);
    transition: 0.5s ease-in-out;
}
.text ul{
    margin-bottom: 0;
    padding-left: 0;
}
.text ul li{
	list-style: none;
    display: inline-block;
    padding: 0 67px;
}
.text ul li a{
	color: #fff;
	transition: 0.5s ease-in-out;
}
.text ul li a:focus{
	color: #ffb233;
	transition: 0.5s ease-in-out;
}
/*******************
count css file
********************/
.count{
	width: 100%;
	padding: 120px 0;
	background-color: #f3f4ff;
}
.count h3{
	margin: 0;
    font-weight: 700;
    padding-bottom: 8px;
}
.count .line{
	height: 3px;
    width: 29px;
    background: #51a351;
    margin: auto;
}
.count p{
	margin: 0;
    font-style: italic;
    padding-top: 8px;
}
/*******************
portfolio css file
*******************/
.portfolio{
	width: 100%;
	padding: 120px 0;
}
.title{
	text-transform: uppercase;
	letter-spacing: 6px;
	margin: 0;
}
.filter-list{
	padding-left: 0px;
	padding-bottom: 36px;
}
.filter-list li{
	list-style: none;
	display: inline-block;
	margin: 0 16px;
}
.filter-list li a{
	color: #5f5f5f;
	position: relative;
}
.filter-list li a:hover{
	color: #19bd9a;
}
.filter-list li a:before{
	content: '';
	position: absolute;
	height: 4px;
	left: 0;
	right: 0;
	bottom: -7px;
	width: 0%;
	background: #19bd9a;
	transition: 0.5s ease-in-out;
}
.filter-list li a:hover:before{
	width: 100%;
	background: #19bd9a;
	transition: 0.5s ease-in-out;
}
.gallery-img{
	display: flex;
}
/*.gallery-img img{
	padding: 5px;
}*/
.hover-text h1{
	margin: 0;
	color: #19bd9a;
}
.line{
	height: 4px;
	width: 35px;
	background: #19bd9a;
	margin: 5px 0;
}
.hover-text p{
	margin: 0;
	color: #9f9e9e;
	margin-bottom: 5px;
}
.hover-text a{
	margin-left: 70px;
}
.hover-text a i{
	height: 40px;
    width: 40px;
    border: 2px solid #888481;
    color: #888481;
    text-align: center;
    line-height: 40px;
    border-radius: 100%;
}
.effect{
	position: relative;
	overflow: hidden;
	margin: 6px;
}
.hover-text{
	/*display: none;*/
	position: absolute;
	/*top: 0;*/
	left: 0;
	background: rgba(0,0,0,0.5);
	bottom: -81px;
	right: 0;
	padding: 12px 24px;
	height: 0%;
	transition: 0.5s ease-in-out;
}
.effect:hover .hover-text{
	display: block;
	height: 100%;
	bottom: 0;
	transition: 0.5s ease-in-out;
}
.portfolio .btn {
    padding: .375rem 3rem;
    margin-left: 471px;
    margin-top: 70px;
    text-transform: uppercase;
}
.portfolio .btn-danger {
    background: #51a351 !important;
    border: 2px solid #51a351 !important;
    color: white !important;
    margin-top: 20px ;
    margin-left: 460px ;
    padding: 2px 54px;
}
/*********************
testimonial css file
***********************/
.testimonial{
	width: 100%;
	padding: 120px 0;
	background-image: url('../image/testimonialBg.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.owl-carousel .owl-item img {
    width: auto;
    margin: auto;
    padding-top: 46px;
}
.mt-5 {
    margin-top: 3rem!important;
    width: 63%;
    margin: auto;
}
/**************************
footer css file
*******************/
footer{
	width: 100%;
	padding: 120px 0;
	background-image: url('../image/footerBg.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.contact-top h3{
	color: #c1c1c2;
    margin: 0;
}
.contact-top p{
	color: #c1c1c2;
	margin: 0;
}
.contact-top .text-1{
	padding-left: 131px;
}
.contact-top a{
	color: #c1c1c2;
}
.contact-bottom{
	padding-top: 73px;
}
.extra{
	display: flex;
}
.extra input{
	margin: 0 5px 20px 5px;
}
.form-control {
    color: #878786 !important;
    background-color: transparent !important;
    border: 1px solid #fff !important;
    border-radius: none !important;
}
.mb-3 {
    margin: 5px;
}
.contact-bottom .btn {
    padding: .375rem 12.37rem;
    margin-left: 4px;
    margin-top: 15px;
    color: white !important;
}
.contact-bottom p{
	text-align: center;
    padding-top: 20px;
}
.contact-bottom .btn-success {
    background: #51a351 !important;
    border: none !important
}
.contact-bottom .col-md-2{
	width: 10.666667% !important;
}
button, select {
    text-transform: uppercase;
}
